.search-top {
    width: 85%;
    margin: 7.5% auto 15%;
    .input {
        height: 72px;
        background-color: #fff;
        border-radius: 36px;
        overflow: hidden;
        align-items: center;
        display: flex;
        .icon {
            width: 60px;
            height: 60px;
            margin-left: 6px;
        }
        input {
            display: block;
            flex: 1;
            padding-left: 30px;
        }
    }
}