.App {
  // background-image: url('https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/06/0A/ChMkJlxQKyyIWLIcAAMviOiepEQAAuotgIFfpsAAy-g215.jpg');
  //background-image: url('@/assets/bg.jpg');
  background-image: url('https://bbs-fd.zol-img.com.cn/t_s800x5000/g3/M02/09/0A/Cg-4V1Cf6r-IXGGNAAHMmc-gs7sAABmSwKipLUAAcyx625.jpg');
  background-position: top center;
  object-fit: cover;
  user-select: none;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .header {
    flex: 1;
  }
  .content {
    display: flex;
    // justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    .mask {
      background-color: rgba(255, 255, 255, 0.15);
      position: fixed;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

