.launcher {
    width: 80px;
    max-height: 100px;
    margin-bottom: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid transparent;
    width: 20%;
    .icon {
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        transition: all 0.1s linear;
    }
    span {
        display: block;
        padding: 1px 0;
        text-align: center;
        color: #fff;
        margin-top: 4px;
        font-size: 24px;
    }
}