.window {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    user-select: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
    .header {
        height: 30px;
        align-items: center;
        cursor: move;
        display: flex;
        justify-content: space-between;
        background-color: #eee;
        border-bottom: 1px solid #ddd;
        padding-left: 5px;
        .right {
            svg {
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
    .content {
        .ohter {
            display: flex;
            .main {
                flex: 1;
            }
        }
        .content-left {
            width: 2px;
            background-color: #fff;
        }
        .content-right {
            width: 2px;
            background-color: #fff;
        }
        .content-bottom {
            height: 2px;
            background-color: #fff;
        }
    }
}